[submodule "HOME/.tmux/plugins/tpm"]
	path = HOME/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "HOME/.vim/bundle/Vundle.vim"]
	path = HOME/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
